header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 2rem;
}

#menu {
    display: none;
}

.main-h {
    grid-column: 1 / -1;
}

.navigation {
    flex-direction: row;
}

.navigation a {
    display: block;
    padding: 1rem;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

figure {
    margin-bottom: 0;
}

footer {
    position: relative;
}