header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 2rem;
}

#menu {
    display: none;
}

.main-h {
    grid-column: 1 / -1;
}

.navigation {
    display: flex;
    /* Added display flex to use flex properties */
    flex-direction: row;
}

.navigation a {
    display: block;
    padding: 1rem;
}

.navigation a:hover {
    /* Added hover pseudo-class */
    color: #007bff;
    /* Example color on hover */
    text-decoration: underline;
    /* Example style on hover */
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

figure {
    margin-bottom: 0;
}

footer {
    position: relative;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}