body {
    margin: 0px;
}

.grid-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 0px;
}

main {
    grid-column: 1 / 2;
    background-color: rgb(188, 180, 180);
    color: #fff;
    text-align: left;
    padding-bottom: 330px;

}

.sidebar {
    grid-column: 2 / 3;
    margin-left: 50px;
}


header {
    text-align: left;
    padding-bottom: 50px;
    background-color: #464444;
    color: #ffffff;
}

nav {
    background-color: #000000;
    color: white;
    text-decoration: #fff;
    padding: 20px 0px;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 0 100px;
    margin: 0 5px;
    font-size: 20px;
}

footer {
    padding: auto;
    background-color: aqua;
    padding-bottom: 80px;
    text-align: center;
    padding-top: 20px;
    font-size: 20px;
}

h2,
h1 {
    margin-left: 30px;
    margin-top: 0px;
    padding-top: 30px;
}